    <div class="col-sm-12 panel-group">
        {{#each article}}

        <!-- title and summary grabbed from html-routes -->

            {{this.title}}
            <br>
            {{/each}}
    </div>
